/* siteheader */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {
    height: 50px;
    background-color: #3161E0;
    display: flex;
    justify-content: center;
  

}


#id-header {
    width: 80%;
    background-color: #3161E0;    
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;

}

    
.link{
    list-style: none;
	display: flex;
    justify-content: center;
	gap:  2rem;
    color:white;


}

.logo{
    gap: 2rem;
    margin-right: 20rem;
    color: white;
}


.menu{

    margin-left: 18rem;
    color: black;
    border: 3px solid white;
    border-radius: 2rem;
    background-color: white;
    padding: 5px;
   

}




/* endheader */

/* sitemain */
.debug main {
    width: 50%;
    height: 300px;
    margin: 20px
}


/* firstcontainer */
.container {
    background-image: url(../img/jumbo.png);
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 25rem;
    
}

.button{
    text-align: center;
  
}


#titolo{

    text-align: center;
    color: white;
    margin-top: 1rem;
    font-size: 3rem;
}




#bottone{
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px;
 



}


#bottone1{
    background-color: black;
    color: white;
    padding: 10px ;
    border: 2px solid black;
    border-radius: 40px;



}


#par{
    color: white;
    text-align: center;
    padding: 3rem;
    font-size: auto;




}



/* endcontainer */


































